* {
  outline: none; }

body {
  color: #000;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; }

div, svg, h1, button {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.container-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.contaner {
  width: 600px;
  height: 660px;
  background: lightgray; }

.header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between; }

.header__title {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: dimgrey;
  width: 360px;
  height: 60px;
  line-height: 60px; }

.controls {
  display: flex; }

.controls__button {
  position: relative;
  display: block;
  width: 78px;
  height: 60px; }

svg {
  width: 600px;
  height: 600px;
  background: lightgray;
  border: 1px solid #aaa; }

path {
  cursor: move; }

circle {
  cursor: grab; }

.palette {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background: #fff; }

.palette__color {
  height: 20px;
  border: 1px solid #000;
  margin: 10px; }
