$container_width: 600px;
$button_size: 60px;
$canvas_size: $container_width;
$container_hight: $container_width + $button_size;

* {
  outline: none;
}

body {
  color: #000;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

div, svg, h1, button {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contaner {
  width: $container_width;
  height: $container_hight;
  background: lightgray;
}

.header {
  width: 100%;
  height: $button_size;
  display: flex;
  justify-content: space-between;
}

.header__title {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: dimgrey;
  width: $container_width - 4*$button_size;
  height: $button_size;
  line-height: $button_size;
}

.controls {
  display: flex;
}

.controls__button {
  position: relative;
  display: block;
  width: 1.3*$button_size;
  height: $button_size;
}

svg {
  width: $canvas_size;
  height: $canvas_size;
  background: lightgray;
  border: 1px solid #aaa;
}

path {
  cursor: move;
}

circle {
  cursor: grab;
}

.palette {
  position: absolute;
  top: $button_size;
  left: 0;
  width: 100%;
  background: #fff;
}

.palette__color {
  height: 20px;
  border: 1px solid #000;
  margin: 10px;
}